/* 全局的css样式 */
html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
.el-table {
  margin-top: 20px;
}
.el-pagination {
  margin-top: 20px;
}
.el-breadcrumb {
  margin-bottom: 20px;
}
.el-card  {
  margin-top: 20px;

}